<main>
    <form [formGroup]="form">
        <h1>Create a new account</h1>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" formControlName="email">
            @if (form.get('email')?.hasError('email')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (form.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" formControlName="password">
            @if (form.get('password')?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Repeat password</mat-label>
            <input type="password" matInput placeholder="Repeat password" formControlName="repeatedPassword">
            @if (form.get('repeatedPassword')?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" test-id="register-button" (click)="register()"
            [disabled]="!form.valid || form.value.password != form.value.repeatedPassword" *ngIf="!isRegister">REGISTER</button>
        <button mat-raised-button color="primary" test-id="register-loader" *ngIf="isRegister"><mat-spinner
                diameter="20" color="accent"></mat-spinner></button>
        <button mat-stroked-button color="primary" test-id="login-button" (click)="login()">LOGIN</button>
    </form>
</main>